

.bgcontainer{
    background: linear-gradient(90deg, #75CFFF -17.97%, rgba(117, 207, 255, 0.00) 54.75%);
    width: 1440px;
    height: 855px;
    flex-shrink: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.toplogo{
    width: 60px;
    height: 66px;
    flex-shrink: 0;
    background:  lightgray 50% / cover no-repeat;

}
.para{
    color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 100% */
margin-top: 15px;
}
.acContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:2px
}
.accred{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:2px
}

.exp{
    color: #138ED1;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;

}
.strooke{
    width: 262px;
height: 19px;
flex-shrink: 0;
stroke-width: 2px;
stroke: #008DD9;
 
display: flex;
flex-direction: row;
justify-content: center;

}
.left{
    border-radius: 34px;
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
width: 470px;
height: 420px;
flex-shrink: 0;
margin-left: 35px;
margin-top: 35px;
}

.formhead{
    color: #2F2F2F;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
width: 307px;
line-height: 30px; /* 150% */
margin-left: 70px;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;

}
.formlogo{
    width: 46px;
height: 45.021px;
flex-shrink: 0;
color: #138ED1;

}
.inp{
    
border-radius: 5px;
background: #E3E3E3;
width: 299px;
height: 47px;
flex-shrink: 0;
padding-left: 10px;



}

.proceed{
    text-align: center;
}
.terms{
    color: #2F2F2F;
font-family: Montserrat;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 227.273% */
margin: 10px;

}
.termsspl{
    color: #2F2F2F;
font-family: Montserrat;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 25px;

}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mb{
    margin-top: 35px;
    margin-bottom: 35px;
}
.offers{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    background: #00A6FF;
    width: 608px;
height: 70px;
flex-shrink: 0;
border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
     
}
.leftoff{
    width: 470px;
height: 70px;
flex-shrink: 0;
border-radius: 35px;
border: 1px solid #FFF;
background: #00486C;
color: white;
text-align: center;
}
.rightoff{
    

width: 194px;
height: 68px;
flex-shrink: 0;

}
.seventy{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
margin-top: 15px;
margin-left: 6px;

 
}
.offertext{
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
margin-top: 15px;
}
.orgprice{
    text-decoration: line-through;

}

.right{
    background-image:url(https://res.cloudinary.com/dy3sku9c7/image/upload/v1695153497/assignment/medium-shot-woman-looking-through-microscope-removebg-preview_1_rdxhqq.png) ;
    size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 400px;
  
width: 514px;
height: 521px;

 
 

}

.topcard{
    width: 166px;
    height: 89px;
    flex-shrink: 0;
    background-color:#6E6E6E38 ;

}
.midContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
     
}
.midTitle{
    color: #333;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-align: center;
    margin: 10px;
}
.bluestr{
    width: 262px;
    height: 19px;
    flex-shrink: 0;
    text-align: center;

}